@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

nav{
    display: flex;
    justify-content: space-around;
    height: 70px;
    align-items: center;
    min-height: 51px;
    background-color: rgb(190, 184, 184);
}
.nav-links {
    display: flex;
    justify-content: space-around;
    width: 35%;
}
.nav-links {
    list-style: none;
}
.heading {
    color: white;
    font-size: 20px;
    font-variant: small-caps;
}
.nav-links a{
     color: black;
     text-decoration: none;
     letter-spacing: 2px;
     font-weight: bold;
     font-size: 14px;
     padding: 2px 8px;
}
.nav-links li a:hover:not(.active){
    background-color: white;
}
.nav-links li a.active{
    background-color: gray;
}

.heading h4 {
    font-size: 24px;
}
.dropbtn {
    color: black;
     text-decoration: none;
     letter-spacing: 2px;
     font-weight: bold;
     font-size: 14px;
     padding: 2px 8px;
     border: none;
     background-color: rgb(190, 184, 184);
}
.dropbtn:hover{
background-color: white;
cursor:pointer;
}

.dropdown {
position: relative;
display: inline-block;
margin-left:0px;
background-color: gray;
}

.dropdown-content {
display: none;
position: absolute;
min-width: 100px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

.dropdown-content a {
text-decoration: none;
display: block;
background-color: darkgray;
color: black;
padding: 10px 12px;
text-decoration: none;
}
.dropdown:hover .dropdown-content {display: block;}
.dropdown-content a:hover{
 color:black;
}
.introduction{
    display: flex;
    padding: 50px;
    background-color: black;
}
.introduction div{
    display: inline-block;
    padding-right: 1px;
    margin-left: -14px;
}
img{
    border-radius: 10px;
}
.text{
    color: white;
    justify-content: center;
    padding: 52px;
    margin: 68px;
    text-align: end;
}
.cards {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 100px;
}
.cards div {
    position: relative;
    width: 300px;
    height: 500px;
    border: none;
    margin: 10px;
    text-align: center;
    padding: 7px;
}
.cards div:hover {
    box-shadow: gray;
    transform: scale(1.1);
}
.cards div img{
    width: 240px;
    height: 200px;
}
.cards div h3{
    color: rgb(44, 42, 42);
    font-size: 20px;
    font-variant: small-caps;
}
.cards div h3 a{
    text-decoration: none;
    color: black;
}
.cards div p{
    font-size: 20px;
    width: 100%;
    height: auto;
}
.cards div button{
    position: relative;
    top: 10px;
    width: 120px;
    padding: 10px;
    margin: 40px;
    background-color: gray;
    border: 1px solid;
    cursor: pointer;
}
#part_3 {
    position: fixed;
    margin-block-start: 100px;
    background-color: black;
    display: block;
    position: relative;
    justify-items: auto;
    padding-top: 30px;
    padding-bottom: 50px;
    }
.animacion:hover {
    transform: scale(1.1);
    cursor: pointer;
}
.button_icon{
    color: white;
}
.events{
    padding: 70px;
}
.image {
    position: relative;
    width: 400px;
}
.image__img {
    display: block;
    width: 100%;
}
.imazhi{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}
.imazhi-blur{
    backdrop-filter: blur(5px);
}
.imazhi:hover{
    opacity: 1;
    border-radius: 10px;
}
.image__title{
    font-size: 2cm;
    font-weight: bold;
}
.image__description{
    font-size: 1.25cm;
}
#map {
    width: 100%;
    height: 50%;
    background-color: black;
    padding-bottom: 70px;
}
#map h1{
    color: white;
    text-align: center;
    padding: 50px;
    padding-top: 30px;
    padding-bottom: 0px;
}
#map iframe{
    width: 80%;
    height: 470px;
    margin-inline-start: 130px;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
}
footer{
    position: relative;
    bottom: 0px;
    width: 100%;
    height: 286px;
    background: gray;
  }
  .main-content{
    display: flex;
  }
  .main-content .box{
    flex-basis: 50%;
    padding: 10px 20px;
  }
  .box h2{
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
  }
  .box .content{
    margin: 20px 0 0 0;
    position: relative;
  }
  .box .content:before{
    position: absolute;
    content: '';
    top: -10px;
    height: 2px;
    width: 100%;
    background: #1a1a1a;
  }
  .box .content:after{
    position: absolute;
    content: '';
    height: 2px;
    width: 15%;
    background: darkgray;
    top: -10px;
  }
  .left .content p{
    text-align: justify;
  }
  .left .content .social{
    margin: 20px 0 0 0;
  }
  .left .content .social a{
    padding: 0 2px;
  }
  .left .content .social a span{
    height: 40px;
    width: 40px;
    background: #1a1a1a;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.3s;
  }
  .left .content .social a span:hover{
    background: rgb(77, 74, 74);
  }
  .center .content .fas{
    font-size: 1.4375rem;
    background: #1a1a1a;
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
  }
  .center .content .fas:hover{
    background: rgb(77, 74, 74);
  }
  .center .content .text3{
    font-size: 1.0625rem;
    font-weight: 500;
    padding-left: 10px;
  }
  .center .content .phone{
    margin: 15px 0;
  }
  .right form .text3{
    font-size: 1.0625rem;
    margin-bottom: 2px;
    color: black;
  }
  .right form .msg{
    margin-top: 10px;
  }
  .right form input, .right form textarea{
    width: 100%;
    font-size: 1.0625rem;
    background: #151515;
    padding-left: 10px;
    border: 1px solid #222222;
  }
  .right form input:focus,
  .right form textarea:focus{
    outline-color: #3498db;
  }
  .right form input{
    height: 35px;
  }
  .right form .btn{
    margin-top: 10px;
  }
  .right form .btn button{
    height: 40px;
    width: 100%;
    border: none;
    outline: none;
    background: rgb(77, 74, 74);
    font-size: 1.0625rem;
    font-weight: 500;
    cursor: pointer;
    transition: .3s;
  }
  .right form .btn button:hover{
    background: #000;
  }
  .bottom center{
    padding: 5px;
    font-size: 0.9375rem;
    background: #151515;
  }
  .text3 {
    color: white;
  }
  .bottom center span{
    color: #656565;
  }
  .bottom center a{
    color: black;
    text-decoration: none;
  }
  .bottom center a:hover{
    text-decoration: underline;
  }
  @media screen and (max-width: 900px) {
    footer{
      position: relative;
      bottom: 0px;
    }
    .main-content{
      flex-wrap: wrap;
      flex-direction: column;
    }
    .main-content .box{
      margin: 5px 0;
    }
  }