@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

nav{
    display: flex;
    justify-content: space-around;
    height: 70px;
    align-items: center;
    min-height: 8vh;
    background-color: rgb(190, 184, 184);
}
.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
}
.nav-links {
    list-style: none;
}
.headings {
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}
.nav-links a{
     color: black;
     text-decoration: none;
     letter-spacing: 2px;
     font-weight: bold;
     font-size: 14px;
     padding: 2px 8px;
}
.nav-links li a:hover:not(.active){
    background-color: white;
}
.nav-links li a.active{
    background-color: gray;
}

.heading h4 {
    font-size: 24px;
}
.introduction{
    display: flex;
    padding: 50px;
    background-color: black;
}
.introduction div{
    display: inline-block;
    padding-right: 1px;
    margin-left: -14px;
}

.text{
    color: white;
    justify-content: center;
    padding: 52px;
    margin: 68px;
    text-align: end;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-top: 100px;
}
.cards div {
    position: relative;
    width: 300px;
    height: 500px;
    border: 1px solid black;
    margin: 10px;
    text-align: center;
    padding: 7px;
}
.cards div:hover {
    box-shadow: gray;
}
.cards div img{
    width: 240px;
    height: 200px;
}
.cards div h3{
    color: rgb(44, 42, 42);
    font-size: 20px;
    font-variant: small-caps;    
}
.cards div h3 a{
    text-decoration: none;
    color: black;
}
.cards div p{
    font-size: 20px;
    width: 100%;
    height: auto;
}
.cards div button{
    position: relative;
    top: 10px;
    width: 120px;
    padding: 10px;
    margin: 40px;
    background-color: gray;
    border: 1px solid;
    cursor: pointer;
}
